* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.person-box {
  width: 500px;
  padding: 10px;;
  margin: 30px auto;
}

.person-box .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.person-box .control .search {
  display: inline-block;
  width: 300px;
  height: 25px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.person-box .control .option {
  color: #3e86f4;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.person-box .control .option.active {
  color: #fff;
  background-color: #3e86f4;
}


.person-box .person {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.person-box .person .avatar {
  margin-right: 10px;
  vertical-align: middle;
}

.person-box .person .avatar img {
  width: 50px;
  height: 50px;
}

.person-box .person .content {
  display: flex;
  flex-direction: column;
}

.person-box .person .content .des {
  color: #aaa;
  font-size: 10px;
  margin-top: 5px;
}